#button{
    margin:1rem ;
}

#button h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: #e5e5e5;
    margin-bottom: 1rem;
    font-family: "Space Grotesk", sans-serif;
}

#button p{
    font-size: 0.8rem;
    color: #e5e5e5;
    font-weight: 500;
    font-family: "Space Grotesk", sans-serif;
}

.code-snippet {
    background: #1E1E1E;
    border-radius: 8px;
    margin: 1rem 0;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .snippet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background: #252526;
    border-bottom: 1px solid #333;
    margin-bottom: 1rem;
  }

  .snippet-title {
    color: #9CDCFE;
    font-family: "Space Grotesk", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
  }
  .copy-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    background: transparent;
    border: 1px solid #3C3C3C;
    color: #D4D4D4;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.2s;
  }

  .copy-btn:hover {
    background: #2A2D2E;
    border-color: #4E4E4E;
  }
  
  .copy-btn svg {
    color: #D4D4D4;
  }

  pre {
    margin: 0;
    padding: 8px;
    overflow-x: auto;

  }

  code {
    font-family: 'Fira Code', monospace;
    font-size: 0.7rem;
    color: #CE9178;
  }

  .language-html .token.tag {
    color: #569CD6;
  }

  .language-html .token.punctuation {
    color: #808080;
  }

  .showcase{
    width: 100%;
    height: 20vh;
    margin-top: 1rem;
    background-color: #2A2D2E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }
